 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Software engineer specializing in Python, with experience
                    writing production code for complex robot systems in Python,
                    Java, JavaScript, and C++. Comfortable taking on new
                    responsibilities as needed and excited to learn new skills
                    and techniques. Proficient at the command line in Linux.</p>
                </div>
            </div>
        </div>
    </section>
